body, html  {

  height: 100%;
  margin: 0;
  padding: 0;
}


table, thead, tbody, td, tr {

}

.votingBubbles {
  position: absolute;
  right: 5vw;

}

td, th {
  background-color: 'transparent' !important;
  height: 4vh;
  width: 27.5vw;
}

.logHeader {
  overflow-y: hidden;
}

.logBody {
  background-color: 'transparent' !important;
  overflow-y: scroll;
  display: block;
  height: 33vh;
}

.logid {
  font-size: 10px;
}

.neutralIcon {
  font-size: 23px;
}

.eventsIcon {
  font-size: 17.5px;
}

.starIcon {
  font-size: 16.5px;
}

.positiveIcon {
  font-size: 18px;
}


.delegationLog {
  position: absolute;
  width: 50vw;
  padding: 1vw;
  font-size: 12.5px;
  border-radius: 2.5vw;
  font-family: sans-serif;
  right: 2.5vw;
  top: 55vh;
  border-style: solid;
  border-color: #1e00bd;
  background-color: rgba(30, 0, 189, 0.5);
  border-width: 0.50vw;
}

.textColor {
  color: white;
  font-size: 1.125vw;

}

.validatingIdentifier {
  position: relative;
  writing-mode: tb-rl;
  font-size: 13px;
  left: -282.5px;
  color: #0cff6f;
  z-index: 333;
}

.eventBorder {
    position: absolute;
    background-color: 'transparent';
    border-radius: 50%;
    border-style: solid;
    border-color: #1e00bd;
    background-color: rgba(30, 0, 189, 0.5);
    border-width: 0.50vw;
    display: block;
    height: 15vw;
    width: 15vw;
    left: 10vw;
    top: 7.5vh;
}



.eventStats {
  position: absolute;
  top: 2.5vh;
  left: 37.5vw;
  font-size: 1.25vw;
  color: white;

}

.eventName {
  border-style: solid;
  background-color: rgba(30, 0, 189, 0.5);
  border-color: #1e00bd;
  border-width: 0.40vw;;
  border-radius: 2.5vw;
  padding: 0.5vw;
  position: relative;
  left: -12.5vw;
}

.eventType {
  border-style: solid;
  background-color: rgba(30, 0, 189, 0.5);
  border-color: #1e00bd;
  border-width: 0.40vw;;
  border-radius: 2.5vw;
  padding: 0.5vw;
  position: relative;
  top: 1vh;
  left: -10vw;


}


.eventPositive {
  border-style: solid;
  background-color: rgba(30, 0, 189, 0.5);
  border-color: #1e00bd;
  border-width: 0.40vw;;
  border-radius: 2.5vw;
  padding: 0.5vw;
  position: relative;
  top: 2vh;
  left: -10vw;

}

.eventNeutral {
  position: relative;
  background-color: rgba(30, 0, 189, 0.5);
  top: 3vh;
  left: -11.25vw;
  border-style: solid;
  border-color: #1e00bd;
  border-width: 0.40vw;;
  border-radius: 2.5vw;
  padding: 0.6vw;

}

.eventNegative {
  position: relative;
  background-color: rgba(30, 0, 189, 0.5);
  top: 4vh;
  left: -12.5vw;
  border-style: solid;
  border-color: #1e00bd;
  border-width: 0.40vw;;
  border-radius: 2.5vw;
  padding: 0.5vw;

}

.statModal {
  position: absolute;
  width: 60vw;
  right: 0;
  left: 0;
}

.voteModal {
  background-color: rgba(30, 0, 189, 0.5);
  position: absolute;
  border-radius: 2.5vw;
  border-style: solid;
  border-color: #1e00bd;
  border-width: 0.50vw;  font-size: 1.375vw;
  width: 35vw;
  height: 42.5vh;
  top: 55vh;
  left: 10vw;
  color: white;


}

.votingStatus {
  position: relative;
  top: 22.5vh;
  left: 2.5vw;
}

.stakingStatus {
  position: relative;
  top: 27.5vh;
  left: 2.5vw;
}

.positiveToggle {
  position: absolute;
  top: 2.5vh;
  left: 2.5vw;}

.positiveHeader {
  position: relative;
  left: 2.5vw;
  top: -1vh;
}

.positiveValue {
  color: #0cff6f;
  font-weight: bold;
}

.neutralToggle {
  position: absolute;
  left: 2.5vw;  top: 8.25vh;
}

.neutralHeader {
  position: relative;
  left: 2.5vw;  top: -0.75vh;
}

.neutralValue {
  color: cyan;
  font-weight: bold;
}

.negativeToggle {
    position: absolute;
    left: 2.5vw;
    top: 14vh;
}

.negativeHeader {
  position: relative;
  left: 2.5vw;  top: -0.75vh;
}

.negativeValue {
  color: red;
  font-weight: bold;
}

.subjectType {
  position: relative;
  width: 165px;
}

.subjectButton {
  position: relative;
  top: 25px;
  left: 100px;
}

.addressButton {
  position: relative;
  top: 25px;
  left: 67.5px;
}


.voteButton {
  position: absolute;
  top: 30vh;
  left: 20vw;
  font-size: 1.25vw;

}

.stakeButton {
  position: absolute;
  top: 20vh;
  left: 20vw;
  font-size: 1.25vw;
}

.ownerButton {
  position: relative;
  top: 25px;
  left: -65px;
}


.colorMain {
  position: relative;
  color: white;
  font-size: 25px;
  top: 3.5px;
}
