.App {

  height: 725px;

}


table, thead, tbody, td, tr {

}



td {

  height: 30px;
  width: 400px;

}

th {

  height: 30px;
  width: 400px;

}

.logHeader {

  overflow-y: hidden;

}

.logBody {

  overflow-y: scroll;
  display: block;
  height: 240px;
}

.logid {
  font-size: 10px;



}

.neutralIcon {
  font-size: 23px;

}

.eventsIcon {
  font-size: 17.5px;

}

.starIcon {
  font-size: 16.5px;

}

.positiveIcon {
  font-size: 18px;

}


.delegationLog {

  position: absolute;
  width: 750px;
  font-size: 12.5px;
  font-family: sans-serif;
  top: 375px;
  left: 500px;
  right: 0%;
}

.textColor {
  color: #bde1e7;

}

.validatingIdentifier {

  position: relative;
  writing-mode: tb-rl;
  z-index: 333;
  left: -282.5px;
  top: 160px;
  font-weight: bold;
  font-size: 13px;
  color: #0cff6f;

}

.eventBorder {
    position: absolute;
    display: block;
    background-color: black;
    border-radius: 50%;
    height: 325px;
    width: 325px;
    margin: 0;
    top: 2.5%;
    left: 10%;

}

.eventPicture {
    position: relative;
    display: block;
    background-color: #8ae3ae;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    top: 4%;
    left: 4%

}

.eventX {
  position: absolute;
  top: -360px;
  width: 325px;
  left: 10%;

}

.statModal {

  position: absolute;
  top: -750px;
  width: 750px;
  left: 39%;


}

.voteModal {

  position: absolute;
  top: -1087.5px;
  width: 750px;
  height: 250px;
  left: 39%;


}

.positiveToggle {

  position: absolute;
  left: 50px;
  top: 25px;

}

.positiveHeader {

  position: relative;
  left: 25px;
  top: -7.5px;

}

.positiveValue {

  color: #0cff6f;
  font-weight: bold;

}

.neutralToggle {

  position: absolute;
  left: 50px;
  top: 100px;

}

.neutralHeader {

  position: relative;
  left: 25px;
  top: -7.5px;

}

.neutralValue {

  color: cyan;
  font-weight: bold;

}

.negativeToggle {
    position: absolute;
    left: 50px;
    top: 175px;

}

.negativeHeader {

  position: relative;
  left: 25px;
  top: -7.5px;

}

.negativeValue {

  color: red;
  font-weight: bold;

}

.subjectType {

  position: relative;
  width: 165px;

}

.subjectButton {

  position: relative;
  top: 25px;
  left: 100px;

}

.addressButton {

  position: relative;
  top: 25px;
  left: 67.5px;

}


.voteButton {

  position: absolute;
  left: 575px;
  top: 175px;

}

.stakeButton {

  position: absolute;
  left: 575px;
  top: 100px;

}

.ownerButton {

  position: relative;
  top: 25px;
  left: -65px;

}


.colorMain {
  position: relative;
  color: #0cff6f;
  font-size: 25px;
  top: 3.5px;

}
