.bubbleId {
  position: relative;
  font-size: 0.75vw;
  height: 7.5vh;
  top: 5vh;

}

.bubbleHash {
  position: relative;
  font-size: 0.75vw;
}

.bubbleIdenticon {
  position: relative;
  right: 1vw;
  border-radius: 50%;
  float: right;
}

.bubbleIdentity {
  float: right;
}

.bubblePercent {
  position: relative;
  top: .75vh;
  left: .125vw;
}

.bubbleChoice {
  position: relative;
  top: 1.25vh;
}

.bubbleTotal {
  position: relative;
  top: 1.75vh;
  left: .125vw;
}

.bubbleWeight {
  position: relative;
  top: 2.25vh;
}

.bubbleBlock {
  position: relative;
  top: 2.75vh;
}
