@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

#root {
  position: absolute;
  width: device-width;
  z-index: 100;
  top: 100vh;
}

.homepageMenu {
  z-index: 999;

}

.menuBar {
  position: fixed;
  z-index: 250;
  width: 100vw;
  z-index: 100;
  top: 0;
}

.sideBar {
  position: fixed;
  z-index: 75;
}

.paperMenu {
  position: relative;
  width: 17.5vw;
  height: 75vh;
  top: 7.5vh;
  margin: 2.5vw;
}

.paperButton {
  position: absolute;
  border: solid;
  border-width: .25vw;
  border-color: #ffffff;
  height: 6.75vh;
  width: 100%;
  text-align: center;
  position: relative;
  color: white;
  font-weight: bold;
}

.paperIcon {
  margin-left: .5vw;

  margin-right: 1.5vw;
}

.landingPage {
  position: relative;
  width: 100vw;
  top: -100vh;
  z-index: -100;
}

.pageSelect {
  position: relative;
  width: 25vw;
  margin-left: 2.5vw;
  color: black;
}

.landingButton {
  position: relative;
  border: solid;
  border-color: white;
  border-radius: .5vw;
  margin-left: 2.5vw;
  float: right;
}

.egem {
  position: relative;
  float: left;
  width: 1.75vw;
}

.appbarSpacing {
  position: relative;
  width: 67.5vw;
}

.reddit, .github, .discord,  .telegram, .facebook, .twitter , .bct {
  position: relative;
  margin-left: .875vw;
  width: 2.675vw;
  border: solid;
  border-color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: white;

}

.landingBranding {
  position: absolute;
  margin: 0 auto;
  z-index: -25;
  top: -22.5vh;
  right: 12.5vw;
}

.landingLogo {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 75vw
}

 .landingTitle {
  text-align: center;
  position: relative;
  font-family: raleigh;
  display: block;
  font-size: 5vw;
  color: black;
  top: -37.5vh;
}

.page1 {
  position: relative;
  border: solid;
  height: 91.125vh;
  width: 100vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  z-index: 0;
}

.h1 {
  font-size: 3.75vw;
  margin-left: 2.5vw;
}

.page1-p1 {
  position: relative;
  font-size: 1.75vw;
  margin-left: 2.5vw;
  width: 42.5vw;
  top: 15vh;
}

.pagePoint {
  padding-bottom: 2.5vh;
}

.validatingGraphic {
  position: relative;
  display: inline-block;
  top: -45vh;
  left: -.25vw;
}

.base1 {
  position: absolute;
  z-index: 1;
  width: 30vw;
  left: 7.5vw;
  top: 5vh;
}

.lines1 {
  position: absolute;
  z-index: -1;
  width: 17.5vw;
  top: 23.75vh;
  left: 13.25vw;
}

.bcc {
  position: absolute;
  z-index: 2;
  width: 10vw;
  left: 17.5vw;
  top: 5vh;
}

.messages1 {
  width: 32.5vw;
}

.messages1edit {
  position: relative;
  left: 7.5vw;
  top: 25vh;
}

.wrong {
  position: absolute;
  color: red;
  font-size: 5vw;
  left: 31.25vw;
  top: 10vh;
}

.right {
  position: absolute;
  color: green;
  font-size: 5vw;
  left: 8.75vw;
  top: 10vh;
}

.page2 {
  position: relative;
  border: solid;
  height: 91.125vh;
  width: 100vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  z-index: 0;
}

.page2-p1 {
  position: relative;
  font-size: 1.75vw;
  left: 2.5vw;
  width: 55vw;
  top: 5vh;
}

.world {
  position: relative;
  width: 50vw;
  top: 15vh;
  right: 10vw;
}

.h2 {
  font-size: 3.75vw;
  margin-left: 2.5vw;
}
