

body, html  {

  margin: 0;
  padding: 0;
}


table, thead, tbody, td, tr {

}

.votingBubbles {
  position: absolute;
  height: 100vh;
  padding: 5vw;
  left: 5vw;
  top: -5vh;

}

td, th {
  background-color: 'transparent' !important;
  height: 4vh;
  width: 27.5vw;
}

.logHeader {
  overflow-y: hidden;
}

.eventImage {
  position: relative;
  width: 8.875vw;
  height: 8.875vw;
  margin: 0 auto;
  top: .15vh;
  border: solid;
  border-color: #9d5aff;
  background-color: #9d5aff;
  border-radius: 5vw;

}

.logBody {
  background-color: 'transparent' !important;
  overflow-y: scroll;
  display: block;
  height: 33vh;
}

.logid {
  font-size: 10px;
}

.neutralIcon {
  font-size: 23px;
}

.eventsIcon {
  font-size: 17.5px;
}

.starIcon {
  font-size: 16.5px;
}

.positiveIcon {
  font-size: 18px;
}

.textColor {
  color: white;
  font-size: 1.125vw;

}

.validatingIdentifier {
  position: absolute;
  writing-mode: tb-rl;
  font-size: 1.0vw;
  left: 2vw;
  top: 25vh;
  color: #9d5aff;
  z-index: 333;
}

.eventBorder {
    position: absolute;
    height: 10vw;
    width: 10vw;
    left: 87.5vw;
    top: 3.5vh;
}

.transferButton {
  position: relative;
  top: 5vh;
}

.eventStats {
  position: absolute;
  top: 25vh;
  left: 95.875vw;
  font-size: 1.25vw;
  width: 25vw;
  z-index: 999;
}

.eventName {
  padding: 0.5vw;
  position: relative;
  padding: 0.5vw;
  color: #ffffff;
  transform: translateX(0px);

}

.eventName:hover {
  transform: translateX(-15vw);

}

.eventType {
  position: relative;
  padding: 0.5vw;
  top: 5vh;
  color: #ffffff;
  transform: translateX(0px);

}

.eventTicker {
  position: relative;
  padding: 0.5vw;
  top: 2.5vh;
  color: #ffffff;
  transform: translateX(0px);

}


.eventTicker:hover {
  transform: translateX(-15vw);

}


.databaseLogo {
  position: relative;
  top: .75vh;
}

.databaseName {
  position: relative;
  font-size: 1.25vw;
  top: -5vh;
  left: 4vw;
}

.databaseType {
  position: relative;
  top: -3.75vh;
  left: 3.5vw;
  font-size: 1.25vw;
}

.databasePositive {
  position: relative;
  font-size: 1.25vw;
  top: -1.75vh;
  left: .5vw;
}

.databaseNeutral {
  position: relative;
  font-size: 1.25vw;
  top: -2.25vh;
  left: .25vw;
}

.databaseNegative {
  position: relative;
  font-size: 1.25vw;
  top: 4.25vh;
  left: .5vw;
}


.databaseRating {
position: relative;
font-size: 1.25vw;
top: -.5vh;
left: 9vw;
}

.eventType:hover {
  transform: translateX(-15vw);

}

.eventPositive {
  padding: 0.5vw;
  position: relative;
  top: 7.5vh;
  color: #ffffff;
  transform: translateX(0px);

}

.eventPositive:hover {
  transform: translateX(-15vw);

}

.eventNeutral {
  position: relative;
  top: 10vh;
  padding: 0.75vw;
  color: #ffffff;
  transform: translateX(0px);
}

.eventNeutral:hover {
  transform: translateX(-15vw);
}

.eventNegative {
  position: relative;
  padding: 0.5vw;
  color: #ffffff;
  top: 12.5vh;
  transform: translateX(0px);
}

.eventNegative:hover {
  transform: translateX(-15vw);
}

.votingMetrics {
  position: fixed;
  width: 42.5vw;
  padding: 0.75vw;
  bottom: 0vh;
  right: -.5vw;
  color: #ffffff;
}




.votingStatus {
  position: relative;
  top: 22.5vh;
  left: 2.5vw;
}

.stakingStatus {
  position: relative;
  top: 27.5vh;
  left: 2.5vw;
}

.positiveToggle {
  position: absolute;
  top: 2.5vh;
  left: 2.5vw;}

.positiveHeader {
  position: relative;
  left: 2.5vw;
  top: -1vh;
}

.positiveValue {
  color: #ffffff;
  font-weight: bold;
}

.neutralToggle {
  position: absolute;
  left: 2.5vw;  top: 8.25vh;
}

.neutralHeader {
  position: relative;
  left: 2.5vw;  top: -0.75vh;
}

.neutralValue {
  color: cyan;
  font-weight: bold;
}

.negativeToggle {
    position: absolute;
    left: 2.5vw;
    top: 14vh;
}

.negativeHeader {
  position: relative;
  left: 2.5vw;  top: -0.75vh;
}

.negativeValue {
  color: red;
  font-weight: bold;
}

.subjectType {
  position: relative;
  width: 165px;
}

.subjectButton {
  position: relative;
  top: 25px;
  left: 100px;
}

.transactionalOperatives {
  position: relative;
  top: 5vh;
}

.stakeButton {
  position: absolute;
  left: 8vw;

}

.voteButton {
  position: absolute;
  top: 30vh;
  left: 20vw;
  font-size: 1.25vw;

}

.ownerButton {
  position: relative;
  top: 25px;
  left: -65px;
}


.colorMain {
  position: relative;
  color: white;
  font-size: 25px;
  top: 3.5px;
}


@media screen and (min-width: 1000px) and (min-height: 750px) {

  .validatingIdentifier {
    font-size: 1.25vw;
    top: 22vh;
  }

}
