

body, html  {
  font-family: apple-sf;
  margin: 0;
  padding: 0;
}

.errorModal {
  position: absolute;
  font-weight: bold;
  text-align: center;
  margin: auto 0;
  font-size: 2.5vw;
  top: -75vh;
  left: 0;
  right: 0;
}

.errorLogo {
  font-size: 25vw;
  position: relative;
  padding-bottom: 2.5vw;

}

.mvpNavigation {
  position: relative;
  height: 100vh;
  top: -87.5vh;
}

.delegationPanel {
  top: 10vh;
  padding: 2.5vw;
}

table, thead, tbody, td, tr {

}


.styledFlag-qhniyv-0.ckyZOd {
  background-color: rgba(12, 255, 109, 0.875) !important;
}

.styledFlag-qhniyv-0.EPGsn {
  background-color: rgba(255, 12, 158, 0.875) !important;
}

.styledFlag-qhniyv-0.ddrHMm {
  background-color: rgba(12, 187, 255, 0.875) !important;
}

.votingBubbles {
  position: absolute;
  padding: 5vw;
  left: 5vw;
  top: -25vh;
}

td, th {
  background-color: 'transparent' !important;
  height: 4vh;
  width: 27.5vw;
}

.logHeader {
  overflow-y: hidden;
}

.eventImage {
  position: relative;
  width: 8.875vw;
  height: 8.875vw;
  margin: 0 auto;
  border: solid;
  border-width: solid;
  border-color: #815aff;
  background-color: #ffffff;
  border-radius: 5vw;

}

.logBody {
  background-color: 'transparent' !important;
  overflow-y: scroll;
  display: block;
  height: 33vh;
}

.logid {
  font-size: 10px;
}

.neutralIcon {
  font-size: 23px;
}

.eventsIcon {
  font-size: 17.5px;
}

.starIcon {
  font-size: 16.5px;
}

.positiveIcon {
  font-size: 18px;
}

.textColor {
  color: white;
  font-size: 1.125vw;

}

.validatingIdentifier {
  position: fixed;
  writing-mode: tb-rl;
  font-size: 1.075vw;
  left: 2%;
  top: 28.75%;
  color: white;
  z-index: 99999999;
}

.eventBorder {
    position: absolute;
    transition: 'all 0.3s ease';
    height: 9.75vw;
    width: 9.75vw;
    left: 87.5vw;
    top: 2.5vh;
}

.transferButton {
  position: relative;
  border: solid;
  border-color: #815aff;
  border-radius: .5vw;
  width: 5.525em;
  top: 2.5vh;
}

.transferButton:hover {
  border-color: #22ffa0;
}

.eventStats {
  position: absolute;
  transition: 'all 0.3s ease';
  top: 25vh;
  left: 95.875vw;
  font-size: 1.25vw;
  width: 25vw;
  z-index: 100;
}

.eventName {
  padding: 0.5vw;
  position: relative;
  padding: 0.5vw;
  color: #ffffff;
  transform: translateX(0px);

}

.eventName:hover {
  transform: translateX(-15vw);

}

.eventType {
  position: relative;
  padding: 0.5vw;
  top: 5vh;
  color: #ffffff;
  transform: translateX(0px);

}

.eventTicker {
  position: relative;
  padding: 0.5vw;
  top: 2.5vh;
  color: #ffffff;
  transform: translateX(0px);

}

.eventTicker:hover {
  transform: translateX(-15vw);
}

.databaseLogo {
  position: relative;
  top: .75vh;
}

.databaseName {
  position: relative;
  font-size: 1.25vw;
  top: -5vh;
  left: 4vw;
}

.databaseType {
  position: relative;
  top: -3.75vh;
  left: 3.5vw;
  font-size: 1.25vw;
}

.databasePositive {
  position: relative;
  font-size: 1.25vw;
  top: -1.75vh;
  left: .5vw;
}

.databaseNeutral {
  position: relative;
  font-size: 1.25vw;
  top: -2.25vh;
  left: .25vw;
}

.databaseNegative {
  position: relative;
  font-size: 1.25vw;
  top: 4.25vh;
  left: .5vw;
}


.databaseRating {
  position: relative;
  font-size: 1.25vw;
  top: -.75vh;
  left: 6.5vw;
}

.eventType:hover {
  transform: translateX(-15vw);

}

.eventPositive {
  padding: 0.5vw;
  position: relative;
  top: 7.5vh;
  color: #ffffff;
  transform: translateX(0px);

}

.eventPositive:hover {
  transform: translateX(-15vw);

}

.eventNeutral {
  position: relative;
  top: 10vh;
  padding: 0.75vw;
  color: #ffffff;
  transform: translateX(0px);
}

.eventNeutral:hover {
  transform: translateX(-15vw);
}

.eventNegative {
  position: relative;
  padding: 0.5vw;
  color: #ffffff;
  top: 12.5vh;
  transform: translateX(0px);
}

.eventNegative:hover {
  transform: translateX(-15vw);
}

.votingMetrics {
  position: fixed;
  left: 10vw;
  top: 1.5vh;
  font-size: 1.25vw;
  z-index: 10000;
  color: #ffffff;
  padding: .75vw;
}

.helpButton {
  position: fixed;
  z-index: 10000;
  border: solid;
  border-color: #bda8ff;
  border-radius: .5vw;
  float: right;
  top: 1.775vh;
  right: 10%;
}

.helpButton:hover {
  border-color: #22ffa0
}

.connectButton {
  position: fixed;
  z-index: 10000;
  border: solid;
  border-color: #bda8ff;
  border-radius: .5vw;
  float: right;
  top: 1.775vh;
  right: 17.5%;

}

.connectButton:hover {
  border-color: #22ffa0
}

.votingStatus {
  position: relative;
  top: 22.5vh;
  left: 2.5vw;
}

.stakingStatus {
  position: relative;
  top: 27.5vh;
  left: 2.5vw;
}

.positiveToggle {
  position: absolute;
  top: 2.5vh;
  left: 2.5vw;}

.positiveHeader {
  position: relative;
  left: 2.5vw;
  top: -1vh;
}

.positiveValue {
  color: #ffffff;
  font-weight: bold;
}

.neutralToggle {
  position: absolute;
  left: 2.5vw;  top: 8.25vh;
}

.neutralHeader {
  position: relative;
  left: 2.5vw;  top: -0.75vh;
}

.neutralValue {
  color: cyan;
  font-weight: bold;
}

.negativeToggle {
    position: absolute;
    left: 2.5vw;
    top: 14vh;
}

.negativeHeader {
  position: relative;
  left: 2.5vw;  top: -0.75vh;
}

.negativeValue {
  color: red;
  font-weight: bold;
}

.subjectType {
  position: relative;
  width: 165px;
}

.subjectButton {
  position: relative;
  top: 25px;
  left: 100px;
}

.transactionalOperatives {
  position: relative;
  top: 2.5vh;
}

.stakeButton {
  position: relative;
  border: solid;
  border-color: #bda8ff;
  border-radius: .5vw;
  left: 7.5vw;
  width: 4.6em;
  top: -5.25vh;
}

.stakeButton:hover {
  border-color: #22ffa0;
}

.generateButton {
  position: relative;
  border: solid;
  border-color: #ff8c00;
  border-radius: .5vw;
  width: 6em;
}

.generateButton:hover {
  border-color: white;
}

.faucetButton {
  position: relative;
  border: solid;
  border-color: #ff8c00;
  border-radius: .5vw;
  width: 4.99em;
  left: 7vw;
  top: -2.95vh;
}

.faucetButton:hover {
  border-color: white;
}

.registerButton {
  position: relative;
  border: solid;
  border-color: #815aff;
  border-radius: .5vw;
  width: 5.6em;
  top: 2.5vh;
}

.registerButton:hover {
  border-color: #22ffa0;
}

.ownerButton {
  position: relative;
  top: 25px;
  left: -65px;
}


.concludeButton {
  position: relative;
  top: 87.5px;
  left: -137.5px;
}




.colorMain {
  position: relative;
  color: white;
  font-size: 25px;
  top: 3.5px;
}

.identityRegistration{
  position: relative;

}

.addressButton {
  position: relative;
  top: 2.5vh;
}

@media screen and (min-width: 1000px) and (min-height: 750px) {

  .validatingIdentifier {
    font-size: 1.25vw;
    top: 26.25%;
    left: 1.75%;
  }

  .helpButton {
    top: 1.75%;
  }

}

@media only screen and (device-height: 1080px) and (device-width: 1920px) {

  .votingMetrics {
    left: 7.5vw;
    top: .5vh;
    font-size:1vw;
  }

  .helpButton {
    border-radius: .25vw;
    top: 1.5vh;
    right: 6.25%;
  }

  .connectButton {
    border-radius: .25vw;
    top: 1.5vh;
    right: 11.75%;

  }

  .validatingIdentifier {
    left: 1.125%;
    top: 22.5%;
    font-size: 1.1vw;
  }

  .generateButton {
    border-radius: .35vw;
    left: -.5vw;
  }

  .registerButton {
    border-radius: .35vw;
    left: -.5vw;
  }

  .faucetButton {
    border-radius: .35vw;
    left: .175vw;
    top: 5vh;
  }

  .stakeButton {
    border-radius: .35vw;
    top: -3.75vh;
    left: 5vw;
  }


}

@media only screen and (min-width: 2000px) and (min-height: 1000px) {

  /* Sidebar */
  .css-1f67lxo , .css-7shaiq {
    font-size: 1vw !important;
    width: 4vw !important;
  }

  /* Drawer wrapper */
  .delegationPanel {
    padding-top: 10vh !important;

    left: 1vw;
  }

  /* Button */
  .css-wryk0, .css-11o1245{
    height: 7em !important;
  }

  /* Button Icon */
  .starIcon, .css-cpl69x, .css-1s1i71a {
    font-size: .75vw !important;
  }

  /* Button text */
  .css-4u87vn,  .css-1s1i71a {
    font-size: .75vw !important;
  }

  /* Sidebar buttons */
  .css-sea5qf {
    padding-top: 2.5vh !important;
  }

  /* Sidebar button */
  .css-0 {
    margin-bottom: 3.75vh;
  }

  .votingMetrics {
    top: 1.875vh;
    font-size: 1vw;
    height: 10vh;
  }

  .validatingIdentifier {
    left: 1.6%;
    top: 32.5%;
    font-size: .775vw;
  }

  .helpButton {
    border-width: .175vw;
    border-radius: .375vw;
    font-size: .975vw;
    top: 2%;
    right: 7.5%;
  }

  .connectButton {
    border-width: .175vw;
    border-radius: .375vw;
    font-size: .975vw;
    top: 2%;
    right: 13.75%;
  }

  .eventName, .eventTicker, .eventType , .eventPositive, .eventNegative, .eventNeutral {
    border-radius: .5vw !important;
  }

  .stakeButton {
    font-size: .675vw;
    border-radius: .15vw;
    top: -4vh;
    width: 3.75em;
    left: 3.75vw;

  }

  .generateButton {
    font-size: .675vw;
    border-radius: .15vw;
    left: -.5vw;
    width: 5.2em;
  }

  .registerButton {
    font-size: .675vw;
    border-radius: .15vw;
    left: -.5vw;
    width: 4.875em;
  }

  .faucetButton {
    font-size: .675vw;
    border-radius: .15vw;
    left: .175vw;
    width: 4.2em;
    top: 5vh;
  }

  .transferButton {
    font-size: .675vw;
    border-radius: .15vw;
    width: 4.875em;
  }

  .identityRegistration, .Content-ve26fj-1.hqyPWx , .Input__InputElement-sc-1o6bj35-0.bfCuIo{
    font-size: .75vw !important;
  }

  .databaseLogo {
    top: .75vh;
  }

  .databaseName {
    font-size: .75vw;
    top: -2.5vh;
    left: 2vw;
  }

  .databaseType {
    top: -1vh;
    left: 2vw;
    font-size: .75vw;
  }

  .databasePositive {
    font-size: .75vw;
    top: -.25vh;
    left: -.25vw;
  }

  .databaseNeutral {
    font-size: .75vw;
    top: -.5vh;
    left: -.25vw;
  }

  .databaseNegative {
    font-size: .75vw;
    top: 4.25vh;
    left: -.15vw;
  }

  .databaseRating {
    font-size: .75vw;
    top: -.75vh;
    left: 6.5vw;
    visibility: hidden;
  }

  .delegationPanel {
      padding: 1.75vw;
  }


.Card__Container-sc-1vayiwt-0{
      font-size: .75vw !important;
      padding: .25vw !important;
  }

  .votingBubbles {
    top: -5vh;
  }


  .eventStats {
    top: 30vh;
  }


}
